body {
  background-color: #ccc;
}

article {
  max-width: 500px;
  background-color: #fff;
  border-color: #aaa;
  border-radius: 5px;
}

select {
  width: 200px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}